html, body {
    height: 100%;
    overflow: hidden;
}
body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.menu .item.header img {
    height: 10px;
}
.example-grid .column, .example-grid .columns {
    background: #EEE;
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    margin-bottom: .75rem;
    font-weight: 600;
    letter-spacing: .1rem;
}
.page-content {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}
.heading-font-size {
    font-size: 1.5rem;
}
.icons-list .row {
    margin-bottom: 1.5rem;
}
pre[class*="language-"] {
    background:  #f8f8f8 !important;
}
.hero {
    height: 100%;
    margin-bottom: 5rem;
    width: 100%;
}
.hero .logo {
    text-align: center;
    margin-top: 20px;
    opacity: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    align-content: center;
    -webkit-animation-name: logo;
    animation-name: logo;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.hero .logo span {
    color: #696969;
}

.hero .logo img {
    width: 250px;
    margin: auto;
}
.hero h1 {
    color: #525252;
    text-align: center;
    margin-bottom: 0;
}

@-webkit-keyframes overlay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .50;
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .50;
    }
}

@-webkit-keyframes logo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes logo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
div.fluid {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -o-flex: 1 1 auto;
    flex: 1 1 auto;
}
.header-link {
    position: relative;
    left: 0.5em;
    opacity: 0;
    font-size: 0.8em;

    -webkit-transition: opacity 0.2s ease-in-out 0.1s;
    -moz-transition: opacity 0.2s ease-in-out 0.1s;
    -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
    opacity: 1;
}

.docs section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: relative;
}

.docs section::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    left: 25%;
    border-top: 1px solid #eee;
}
/*#1bc5b3*/
#main_header > nav {
    padding: 0;
    background-color: #25807c;
    border-bottom: 1px solid #e8e8e8;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    align-items: center;
}
#main_header > nav .item {
    color: #fff;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none !important;
}
#contents > div {
    padding-top: 30px;
}

#lang-dropdown {
    margin-right: 20px;
    margin-bottom: 0;
}