<div class="row">
    <header class="animated fadeIn" id="main_header">
        <nav class="basic border menu">
            <div class="fluid header-container">
                <a class="header item" href="https://www.omniscol.com/" target="_blank">
                    <img src='{{site.baseurl}}/images/main-logo.png'/>
                </a>
                <input id="global-search" class="text-input input no-border" type="text" placeholder="Recherche ...">
                {% assign current_lang = page.lang %}
                <a class="item" href='/{{ current_lang }}'>{{ site.t[current_lang].home.title }}</a>
            </div>
            {% include lang-dropdown.html %}
        </nav>
    </header>
</div>
